*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}
body{
    height:100dvh;
    display:grid;
    place-content: center;
}
.main_content{
    background: #443e3e;
}
article{
    color: white;
}